body {
  height: 50vh;
  margin: 20vh auto;
}

#calculatorDesign {
  display: block;
  width: 60vw;
  margin: auto;
  padding: 0;
}

#mainLine {
  padding-right: 5px;
  font-size: 1.5em;
  width: 60vw;
  background-color: black;
  color: white;
  text-align: right;
  font-family: "Arial";
  font-weight: bold;
}

.firstLine {
  color: orange;
  word-break: break-all;
  margin: 0;
  padding: 0;
  min-height: 3em;
}

#display {
  margin: 0;
  padding: 0;
}

.layer {
  margin: 0;
}

.buttonDesign {
  margin: 0;
  padding: 0;
  outline: none;
  border: 1px solid white;
  width: 15vw;
  height: 10vh;
  background: linear-gradient(15deg, wheat, #dd6, wheat);
  font-weight: bold;
  font-size: 3vh;
  border-radius: 0 0 2vh 0;
}

.buttonDesign:hover {
  color: white;
  filter: saturate(200%);
}

#clear {
  width: 30vw;
  background: #f44;
}

#zero {
  width: 30vw;
}

#equals {
  width: 30vw;
  background: #5f9;
}

#divide,
#multiply,
#subtract,
#add {
  background: #dfd;
}

#decimal {
  background: #dcc;
}

@media screen and (max-width: 500px) {
  #calculatorDesign, #mainLine {
    width: 300px;
  }

  .buttonDesign {
    width: 75px;
  }

  #clear,
  #zero,
  #equals {
    width: 150px;
  }
}
@media screen and (min-width: 700px) {
  #calculatorDesign, #mainLine {
    width: 420px;
  }

  .buttonDesign {
    width: 105px;
  }

  #clear,
  #zero,
  #equals {
    width: 210px;
  }
}
@media screen and (min-height: 700px) {
  #calculatorDesign, #mainLine {
    width: 420px;
  }

  .buttonDesign {
    width: 105px;
    height: 5vh;
  }

  #clear,
  #zero,
  #equals {
    width: 210px;
  }
}
